/* Sidebar */
.sidebar {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: #ddd;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #4CAF50;
    color: white;
}

.sidebar .active {
    background-color: #45a049;
}
