body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #28a745;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.order-table th {
    background-color:  #28a745;
    color: white;
}

button, .home-button ,a.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background:  #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .home-button:hover ,a.home-button{
    background:  #28a745;
}


